{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@assets": "./src/assets",
          "@components": "./src/components",
          "@navigations": "./src/navigations",
          "@scenes": "./src/scenes",
          "@services": "./src/services",
          "@styles": "./src/styles",
          "@helpers": "./src/helpers",
        }
      }
    ]
  ]
}
